<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
    </filter>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AdminHomeController</servlet-name>
        <servlet-class>controller.admin.AdminHomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.web.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetails</servlet-name>
        <servlet-class>controller.admin.OrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IntroduceController</servlet-name>
        <servlet-class>controller.web.IntroduceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactController</servlet-name>
        <servlet-class>controller.web.ContactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailsController</servlet-name>
        <servlet-class>controller.admin.UserDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeleteController</servlet-name>
        <servlet-class>controller.admin.OrderDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListStatusController</servlet-name>
        <servlet-class>controller.admin.OrderListStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderEditStatusController</servlet-name>
        <servlet-class>controller.admin.OrderEditStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccount</servlet-name>
        <servlet-class>controller.web.UserAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountAddressController</servlet-name>
        <servlet-class>controller.web.MyAccountAddressController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountPurchaseController</servlet-name>
        <servlet-class>controller.web.MyAccountPurchaseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAccountOrderDetailsController</servlet-name>
        <servlet-class>controller.web.MyAccountOrderDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionController</servlet-name>
        <servlet-class>controller.web.PromotionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminHomeController</servlet-name>
        <url-pattern>/AdminHomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetails</servlet-name>
        <url-pattern>/OrderDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IntroduceController</servlet-name>
        <url-pattern>/IntroduceController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactController</servlet-name>
        <url-pattern>/ContactController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailsController</servlet-name>
        <url-pattern>/UserDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeleteController</servlet-name>
        <url-pattern>/OrderDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderListStatusController</servlet-name>
        <url-pattern>/OrderListStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderEditStatusController</servlet-name>
        <url-pattern>/OrderEditStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccount</servlet-name>
        <url-pattern>/UserAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountAddressController</servlet-name>
        <url-pattern>/MyAccountAddressController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountPurchaseController</servlet-name>
        <url-pattern>/AccountPurchaseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAccountOrderDetailsController</servlet-name>
        <url-pattern>/MyAccountOrderDetailsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionController</servlet-name>
        <url-pattern>/PromotionController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
